<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>MusicPlatform</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  <link href="stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!--Favicon-->
  <link rel="shortcut icon" type="image/jpg" href="images/theSoundBarLogo.png">

</head>
<body>
  <nav class="teal" role="navigation">
    <div class="nav-wrapper container">
      <div class="brand-logo"><img id="logo-container" src="images/theSoundBarLogo.png" ></div>
      <ul class="right hide-on-med-and-down">
        <li><a href="/login">Log In</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/login">Log In</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
    <div>
        {{{ body }}}
    </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of coding boot camp students working on The Sound Bar like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
        </div>
        <div class="col l3 s4">
          <h5 class="white-text">Jeri Smith</h5>
          <ul>
            <li><a class="white-text" href="mailto:jerismith32@gmail.com"><i class="fab fa-mailchimp"></i></i></a></li>
            <li><a class="white-text" href="https://www.github.com/jerismith32" target="_blank"><i class="fab fa-github-square"></i></a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/jerismith32/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
        <div class="col l3 s4">
          <h5 class="white-text">Christian Tielking</h5>
          <ul>
            <li><a class="white-text" href="mailto:tielking5@gmail.com"><i class="fab fa-mailchimp"></i></i></a></li>
            <li><a class="white-text" href="https://www.github.com/tielkingc" target="_blank"><i class="fab fa-github-square"></i></a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/christian-tielking" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
        <div class="col l3 s4">
          <h5 class="white-text">Kyle Todoran</h5>
          <ul>
            <li><a class="white-text" href="mailto:ktodoran@gmail.com"><i class="fab fa-mailchimp"></i></i></a></li>
            <li><a class="white-text" href="https://www.github.com/ktodoran" target="_blank"><i class="fab fa-github-square"></i></a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/ktodoran" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">Template provided by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="javascript/materialize.js"></script>
  <script src="javascript/init.js"></script>
<!--GeoLocation Script-->
  <script src="javascript/geolocation.js"></script>
</body>
</html>
