<link rel="stylesheet" href="stylesheets/landingPage.css">

<div class="landing-content">
  <body>
    <div class="row">
      <div class="col s12">
        <h2 class="grey-text text-lighten-5">WELCOME TO THE SOUND BAR!</h2>
      </div>
    </div>

    <div id="landingBtns" class="row">
      <div class="col s2"><a href="/community"><img src="./images/CommunityButton.png" alt="Community Feature Button"></a></div>
      <div class="col s2"><a href="#"><img src="./images/PagesButton.png" alt="Community Feature Button"></a></div>
      <div class="col s2"><a href="/events"><img src="./images/EventsButton.png" alt="Community Feature Button"></a></div>
    </div>

  </div>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="javascript/materialize.min.js"></script>
    <script type="text/javascript" src="javascript/init.js"></script>